input[type="button"] {
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width: 50px;
	height: 50px;
	font-family: "Courier New", serif;
}

.number {
	background-color: #A9A9A9;
	color: white;
}

.operator {
	background-color: #808080;
	color: white;
}

.clear {
	background-color: #990000;
	color: whilte;
}

.result {
	background-color: #009933;
	color: white;
}

.output {
	display: inline-block;
	width: 213px;
	height: 40px;
	padding: 5px;
	border: none;
	background-color: #A9A9A9;
	margin: 4px 5px;
	font-family: "Courier New", serif;
}

xyz {
	display: inline-block;
	height: 400px;
	width: 235px;
	background-color: silver;

